include emf/fields/fields-template.xlsx
include emf/subcalc/subcalc-tower-template.xlsx
include emf/subcalc/subcalc-footprint-template.xlsx
include emf/subcalc/lift/*

prune docs
prune nopack
prune working_files
prune refs

global-exclude .git*
global-exclude *.pyc
global-exclude *.xlk
