body {
    color: #383838;
    font-family: 'Iconsolata', monospace;
    margin: 0;
    padding: 0;
}

.subpackage {
    color: inherit;
    display: block;
    text-decoration: none;
    margin: 5%;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.subpackage:hover {
    background-color: #F0F0F0;
}

#other-resources:hover {
    background-color: inherit;
}

.subpackage h4 {
    margin: 2%;
}

.subpackage p {
    margin: 3%;
    text-align: justify;
}

.subpackage p a {
    color: inherit;
}

#nav {
    float:left;
    width: 20%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav a {
    display: block;
    text-decoration: none;
    color: inherit;
}

#nav a:hover{
    background-color: #F0F0F0;
}

#main {
    float: right;
    width: 75%;
    border-left: 1px solid #a8a8a8;
}

#main h1 {
    margin: 1cm 0;
    text-align: center;
}

.section {
    margin: 5%;
    padding: 2%;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}

.section h3{
    margin: 0 0 .5cm 0;
}

.funk {
    padding: .5cm;
    border-top: 1px solid #d3d3d3;
}

.funk-name {
    margin: 0 0 0.25cm 0;
    font-weight: bold;
}

.funk-call {
    margin: 0 0 0.25cm 0;
    font-weight: normal;
}

.source-file {
    margin: 0 0 0.25cm 0;
    font-size: 75%;
}

.funk-docstr {
    font-size: 85%;
}

.funk-docstr-line {
    margin: 0;
}

.docstr-split-div {
    margin: 0 0 0 1.5cm;
    overflow: auto;
}

.docstr-left {
    float: left;
    margin: 0;
    text-align: right;
    width: 4cm;
}

.docstr-right {
    float: left;
    text-align: left;
    width: calc(99% - 4cm);
}

.args {
    color: blue;
}

.kw {
    color: red;
}

.returns {
    color: green;
}
