body {
    color: #ABB2BF;
    background-color: #282C34;
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
}

#nav {
    float: left;
    margin: 0;
    padding: 0.25cm;
    min-height: 100%;
    background-color: #20242C;
    border-right: 1px solid #606060;
}

#nav h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin: 0.25cm 0;
}

#nav-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-li {
    font-family: "Open Sans", sans-serif;
    margin: 0.5cm 0;
}

.nav-li a {
    text-decoration: none;
    color: #C8C8C8
}

.subnav-ul {
    list-style-type: none;
    padding: 0 0 0 0.5cm;
}

.subnav-li {
    font-family: "Anonymous Pro", monospace;
    margin: 0.1cm 0;
}

.subnav-li a {
    text-decoration: none;
    color: #C8C8C8;
}

#nav a:hover {
    font-weight: 700;
    /*background-color: #282C34;*/
}

#main {
    float: right;
    min-height: 100%;
}

#main h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 400%;
    text-align: center;
    margin: 1cm 0;
}

.section {
    margin: 1cm;
    padding: 5%;
    border: 1px solid #505050;
    border-radius: 10px;
}

.section h2 {
    font-weight: normal;
    font-size: 250%;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0 0 1cm 0;
}

.docstr {
    margin: 0;
    font-size: 90%;
    color: #98C379;
}

.class {
    border-top: 1px solid #404040;
}

.class h3 {
    font-weight: normal;
    font-size: 200%;
    font-family: "Open Sans", sans-serif;
    margin: 1cm 0 .5cm 0;
}
